<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notion integration</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <h1>Organise Your Youtube Learning with Notion.</h1>
   <div id="urlinputform">
    <form action="/create" method="POST">
        <input type="text" name="video" id="videoname" placeholder="Add Video URL">
        <button type="submit" id="addbtn">Add Video</button>
    </form>
   </div>
   <%if(errormessage != ''){%>
    <div class="errormsg">
        <h3>It seems you entered a worng url</h3>
        <a href="/"><button id="trybtn">Try again</button></a>
    </div>
   <%}%>
  <script src="index.js"></script>
</body>
</html>